<div class="view h-60">
  <div class="full-bg-img">
    <div class="container mt-3">
      <h1 class='f-bolder f-lv-m rem4'>SOBRE NÓS</h1>
      <div class="row">
        <div class="col-md-7">
          <p class='f-lv-m f-medium p-content'>
            LAVITTA – Centro de Reprodução Humana do Amazonas é o único Centro de 
            Reprodução Assistida do Amazonas credenciado pela Sociedade Brasileira 
            de Reprodução Assistida (SBRA), pioneiro no tratamento de infertilidade 
            clínica e Fertilização in Vitro.
          </p>
          <h3 class='f-lv-m f-semibold mt-1'>Nascidos Vivos por FIV : LA VITTA x EUA</h3>
          <div class="row mb-2 mt-4">
            <div class="col-md-5">
              MULHERES COM IDADE MENOR 35 ANOS Comparado a 48% dos EUA
            </div>
            <div class="col-md-7">
              <img src="./assets/imgs/sobre/a.png" class='img-fluid' alt="">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-5">
              MULHERES COM IDADE MENOR 35 ANOS Comparado a 48% dos EUA
            </div>
            <div class="col-md-7">
              <img src="./assets/imgs/sobre/b.png" class='img-fluid' alt="">
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-5">
              MULHERES COM IDADE 35 A 37 ANOS Comparado a 38% dos EUA
            </div>
            <div class="col-md-7">
              <img src="./assets/imgs/sobre/c.png" class='img-fluid' alt="">
            </div>
          </div>
          <div class="row">
            <div class="col-md-5">
              MULHERES COM IDADE 38 A 40 ANOS Comparado a 24% dos EUA
            </div>
            <div class="col-md-7">
              <img src="./assets/imgs/sobre/d.png" class='img-fluid' alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
