<app-nav></app-nav>
<section class="pt-5 mt-5">
  <div class="container pt-4 mt-5 text-left">
    <h2 class="font-weight-bold text-justify my-5">
      <span class="title">Inseminação Artificial</span>
    </h2>
    <p>
      A <strong>inseminação artificial</strong>, também conhecida como inseminação intrauterina, é uma técnica de reprodução assistida em
      que a
      fertilização acontece dentro do corpo da mulher, assim como ocorreria naturalmente após uma relação sexual, não sendo necessária
      a retirada de seus óvulos; é diferente do que ocorre na fertilização in vitro, em que o encontro do óvulo com o espermatozoide
      (a fertilização) ocorre em laboratório, sendo o embrião posteriormente colocado no útero.
    </p>
    <p>Existem duas diferentes estratégias de inseminação artificial: a intracervical e a intrauterina. A primeira simula o que
      ocorre na relação sexual normal, isto é, os espermatozoides são depositados diretamente na cérvice feminina (a entrada
      do útero pela vagina - ou colo uterino). É indicada quando não é possível haver a penetração vaginal pelo parceiro, como
      no caso de impotência sexual ou algum outro distúrbio tanto masculino quanto feminino que possam impedir essa etapa da
      relação. O método intrauterino permite que os espermatozoides sejam injetados diretamente dentro do útero, aumentando enormemente
      as chances de seu encontro com o óvulo ali presente, além de não exigir a presença do muco vaginal em quantidade e qualidade
      adequadas para a gravidez, como é necessário com a estratégia intracervical ou mesmo na relação sexual normal.</p>
      <div class="row">
        <div class="col-md-8">
          <p>
            Considerada uma técnica de baixa complexidade, pode ser realizada no próprio consultório e é indicada para alguns casos
            de infertilidade do casal, sendo os principais:
          </p>
          <ul>
            <li>
              Mulheres com distúrbios de ovulação/ não ovulam adequadamente: geralmente são mulheres que têm irregularidade da menstruação.
              A causa mais comum é a Síndrome dos Ovários Policísticos.
            </li>
            <li>
              Presença de muco espesso (fator cervical): todas as mulheres produzem um muco no colo do útero que muda suas características
              de acordo com a fase do ciclo menstrual. No período ovulatório (período fértil), essa secreção se torna mais líquida e permite
              a entrada dos espermatozoides para dentro da cavidade uterina. Em algumas mulheres, esse muco produzido continua espesso
              e torna-se hostil para a subida dos espermatozoides, que não conseguem chegar as trompas.
            </li>
            <li>
              Homens com sêmen discretamente alterados: alguns homens apresentam uma concentração no limite inferior da normalidade e uma
              porcentagem razoável de espermatozoides móveis progressivos com morfologia normal. Nesses casos, a gravidez espontânea é
              mais difícil devido a essas pequenas alterações no sêmen, mas na inseminação artificial, a chance de gravidez aumenta, pois
              há um processamento seminal, onde são separados os melhores espermatozoides para serem depositados no interior do útero.
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <img src="./assets/imgs/tratamentos/inseminacao.jpg" class='img-fluid' alt="">
        </div>
      </div>
      <p>
        Antes do depósito dentro do corpo feminino, o líquido seminal – expelido pelo homem ou retirado do mesmo - passa por um tratamento
        laboratorial em que os espermatozoides de melhor qualidade são selecionados para posterior realização do procedimento. Esse
        processo é importante para o sucesso da terapia. Outra etapa também essencial é a estimulação ovariana, isto é, a mulher
        faz uso de medicações que estimularão a sua produção de óvulos com o intuito de aumentar as chances de encontro entre pelo
        menos uma célula de cada parceiro. Essa estimulação deve ocorrer de forma controlada, limitada até certo ponto, para minimizar
        as chances de ocorrência de gravidez múltipla.
      </p>
      <p>
        Antes do depósito dentro do corpo feminino, o líquido seminal – expelido pelo homem ou retirado do mesmo - passa por um
        tratamento laboratorial em que os espermatozoides de melhor qualidade são selecionados para posterior realização do procedimento.
        Esse processo é importante para o sucesso da terapia. Outra etapa também essencial é a estimulação ovariana, isto é, a mulher
        faz uso de medicações que estimularão a sua produção de óvulos com o intuito de aumentar as chances de encontro entre pelo
        menos uma célula de cada parceiro. Essa estimulação deve ocorrer de forma controlada, limitada até certo ponto, para minimizar
        as chances de ocorrência de gravidez múltipla.
      </p>
      <p>
        A inseminação artificial possui uma taxa de sucesso que varia entre 10 a 20%, e assim como qualquer terapia de reprodução
        assistida, e mesmo a concepção natural, pode ser influenciada por diversos aspectos da vida de cada parceiro individualmente,
        como seu estilo de vida, no compete sua alimentação, vícios, uso de medicação, doenças prévias etc. E por isso todo casal
        que deseja engravidar, principalmente aqueles que reconhecidamente apresentam dificuldade para tanto, devem buscar aconselhamento
        profissional para otimizar as suas chances de uma gravidez saudável.
      </p>
      <p>
        Confira abaixo, um vídeo que explica como funciona o processo de inseminação :
      </p>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/z1wbtnwpsCk" allowfullscreen></iframe>
</div>
  </div>
  <div class="container mt-4 py-5">
    <div class="row text-justify">
      <div class="col-md-3">
        <h5 class="font-weight-bold text-center my-3">
          <span class="title">DURAÇÃO DO TRATAMENTO</span>
        </h5>
        <p>
          O período entre o início do tratamento e a confirmação ou não da gravidez dura em torno de um mês. A mulher começa a medicação
          no início do ciclo menstrual por cerca de 15 dias e a inseminação é realizada após a liberação dos óvulos, que normalmente
          coincide com o período fértil da mulher. Após 12 dias é feito o teste de gravidez para verificar o sucesso. Caso não tenha
          havido fecundação, é possível continuar no próximo ciclo.
        </p>
      </div>
      <div class="col-md-3">
        <h5 class="font-weight-bold text-center my-3">
          <span class="title">PREPARAÇÃO</span>
        </h5>
        <p>
        O homem deve ficar em abstinência sexual de dois a cinco dias antes da coleta do sêmen, para garantir sua qualidade. É importante
        também que ele evite estresse excessivo, calor na região genital, consumo exagerado de álcool e o fumo nesse período. Já
        para a mulher, é importante que ela esteja em dia com sua saúde para gestação, com o peso correto, vacinas em dia, sem fumar
        e se suplementando com ácido fólico.
        </p>
      </div>
      <div class="col-md-3">
        <h5 class="font-weight-bold text-center my-3">
          <span class="title">RISCOS</span>
        </h5>
        <p>
        Nesse método há uma chance de 15% de uma gravidez gemelar. Isso é considerado um risco, pois gestações com mais de um bebê
        envolvem um maior cuidado pré-natal e normalmente resultam em partos prematuros, que são perigosos tanto para a mãe quanto
        para o feto. Outro risco é a Síndrome da Hiperestimulação do Ovário (SHO), porém esse risco é menos frequente, pois é um
        tratamento que utiliza doses baixas de hormônios.
        </p>
      </div>
      <div class="col-md-3">
        <h5 class="font-weight-bold text-center my-3">
          <span class="title">CONTRAINDICAÇÕES</span>
        </h5>
        <p>
        As contraindicações são as mesmas de uma gravidez comum, é preciso que mulheres com problemas de saúde sérios consultem seu
        médico antes do procedimento. E quando há algum risco de doença hereditária ou infecciosa, torna-se essencial um parecer
        prévio especializado. O uso dos medicamentos para indução de ovulação é contraindicado para mulheres com em carcinoma ovariano,
        uterino ou mamário e tumores do hipotálamo ou da glândula pituitária.
        </p>
      </div>
    </div>
  </div>
</section>

<app-parallax></app-parallax>
<app-contato></app-contato>
