<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg
  white scrolling-navbar ie-nav" [containerInside]="true">
    <mdb-navbar-brand>
        <a class="logo navbar-brand" routerLink="">
            <img src="./assets/imgs/logo.png" alt="La Vitta Manaus" />
        </a>
    </mdb-navbar-brand>
    <links>
        <ul class="navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" target="_blank" href='https://www.facebook.com/Cl%C3%ADnica-La-Vitta-Manaus-150233921788671/'>
                    <span class="fa-stack fa-1x">
            <i class="fa fa-circle f-lv-m fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
                </a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" target="_blank" href='https://www.instagram.com/clinica_lavitta'>
                    <span class="fa-stack fa-1x">
            <i class="fa fa-circle f-lv-m fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
          </span>
                </a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" target="_blank" href="https://bit.ly/LaVittaNoWhats">
                    <span class="fa-stack fa-1x">
            <i class="fa fa-whatsapp f-lv-m fa-stack-2x"></i>
          </span>
                    <span class="f-semibold f-lv-m ml-2">(92) 3234-8890</span>
                </a>
            </li>
        </ul>
    </links>
</mdb-navbar>
<mdb-navbar SideClass="menu navbar fixed-top navbar-expand-lg 
  navbar-dark b-lv-v scrolling-navbar intro-fixed-nav" style="display: block !important" [containerInside]="true">
    <links class='text-center'>
        <ul class="navbar-nav justify-content-center">
            <li class="nav-item active waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="">HOME
          <!-- <span class="sr-only">(current)</span> -->
        </a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" routerLink="/a-clinica" appScroll>A CLINICA</a>
            </li>
            <li class="nav-item dropdown btn-group" dropdown>
                <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          TRATAMENTOS
        </a>
                <div class="dropdown-menu dropdown-primary dropdown-menu-right" role="menu">
                    <a class="dropdown-item" appScroll routerLink='/tratamentos/inseminacao'>INSEMINAÇÃO ARTIFICAL</a>
                    <a class="dropdown-item" appScroll routerLink='/tratamentos/fertilizacao'>FERTILIZAÇÃO IN VITRO</a>
                    <a class="dropdown-item" appScroll routerLink='/tratamentos/congelamento'>CONGELAMENTO DE ÓVULOS E EMBRIÕES</a>
                    <a class="dropdown-item" appScroll routerLink='/tratamentos/genetico'>DIAGNÓSTICO GENÉTICO</a>
                </div>
            </li>
            <!-- <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" appScroll routerLink="/sucessos">CASO DE SUCESSOS</a>
      </li> -->
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" appScroll routerLink="/blog">BLOG</a>
            </li>
            <li class="nav-item waves-light" mdbWavesEffect>
                <a class="nav-link" appScroll routerLink="/contato">CONTATO</a>
            </li>
        </ul>
    </links>
</mdb-navbar>