<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="medium" color="#712851" type="ball-running-dots">
</ngx-spinner>
<app-nav></app-nav>
<section class="py-4 mt-5 pt-5">
    <div class="container pt-4 mt-5">
        <h2 class="font-weight-bold text-center my-3">
            <span class="title">Casos de Sucesso</span>
        </h2>
        <div class="row pt-5 d-flex justify-content-center">
            <div class="col-md-6 col-xl-5 mb-4" *ngFor="let i of feeds | paginate: { itemsPerPage: 6, currentPage: p }">
                <div class="view overlay rounded z-depth-2  waves-light" mdbWavesEffect>
                    <img [src]="i?._embedded['wp:featuredmedia']['0'].source_url" 
                        class="img-fluid" alt="i.title.rendered">
                    <a>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>
                <mdb-card-body>
                    <h4 class="font-weight-bold mt-2 mb-3">{{ i.title.rendered }}</h4>
                    <p [innerHTML]="i.excerpt.rendered | truncate: 150"></p>
                    <a mdbBtn size="md" rounded="true" class="waves-light b-lv-v" 
                        mdbWavesEffect appScroll routerLink="/sucessos/{{i.slug}}"> 
                        Veia mais
                    </a>
                </mdb-card-body>
            </div>
        </div>
        <pagination-controls appScroll 
            class="text-center mt-5" (pageChange)="p = $event" 
            previousLabel="Anterior" nextLabel="Próximo">
        </pagination-controls>
    </div>
</section>
<app-parallax></app-parallax>
<app-testimonial></app-testimonial>
