<section>
  <agm-map [scrollwheel]='false' [zoom]="18" [latitude]="map.lat" [longitude]="map.lng" style="height: 550px">
    <agm-marker [latitude]="map.lat" [longitude]="map.lng">
      <agm-info-window>
        Centro de Reprodução Humana de Manaus <br /> Clínica La-Vitta
        <hr>
        R. Monsenhor Coutinho, 656 - Centro.<br>
        Manaus - AM, 69010-110, Brasil
      </agm-info-window>
    </agm-marker>
  </agm-map>
</section>
