<app-nav></app-nav>
<section class="pt-5 mt-5 py-5">
  <div class="container pt-4 mt-5 my-5 text-left">
    <h2 class="font-weight-bold text-justify my-5">
      <span class="title">Fertilização In Vitro</span>
    </h2>
    <p>
      A Fertilização in vitro (FIV) é um processo em que as células ovarianas são fertilizadas pelo espermatozoide fora do corpo,
      in vitro e também é utilizado para tratamento de diversas causas de infertilidade. In vitro vem do Latim e significa em vidro,
      o que, no caso, se refere a um tubo de teste ou prato de Petri, daqueles usados em ciências. Também conhecida como bebê de
      proveta, é a união do espermatozoide com o óvulo no laboratório, formando o embrião que posteriormente será transferido para
      a cavidade uterina.
    </p>
    <p>
      O tratamento envolve controle hormonal do processo ovulatório, removendo o óvulo dos ovários femininos e permitindo que os
      espermatozoides fertilizem-o em um meio fluido (in vitro).
    </p>
    <p>
      Geralmente realiza-se uma estimulação ovariana com medicamentos injetáveis. Existem diversos protocolos de estímulo ovariano,
      cada um com indicação precisa para as diversas causas de infertilidade. Após o estímulo ovariano, os óvulos são captados
      por meio da punção guiada por ultrassom transvaginal e fertilizados por espermatozoides em ambiente laboratorial. Após 3
      a 5 dias da fertilização in vitro, os embriões são transferidos para o útero. Um ciclo de fertilização in vitro leva cerca
      de duas semanas.
    </p>
    <ul>
      <li>
        O procedimento pode ser feito utilizando óvulos e espermatozoides próprios, óvulos de doadora, espermatozoides de doadores
        ou embriões doados.
      </li>
      <li>
        É o procedimento com maior complexidade e maior índice de sucesso dentre as técnicas de reprodução assistida.
      </li>
      <li>
        As complicações mais comuns do tratamento são a síndrome do hiper estímulo ovariano e a gravidez múltipla.
      </li>
    </ul>
    <p>
      O primeiro nascimento de sucesso de um “bebê de tubo de ensaio”, Louise Brown, ocorreu em 1978. Robert G. Edwards, o médico
      que desenvolveu o tratamento, foi premiado com o Nobel em Fisiologia ou Medicina em 2010.
    </p>
    <p>Logo abaixo, segue um vídeo que mostra como a FIV funciona.</p>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/185686233" allowfullscreen></iframe>
    </div>
    <hr />
    <p>
      As chances de fertilidade de uma mulher estão diretamente relacionadas com a idade. Sendo assim, a fertilização in vitro
      é um tratamento indicado para casos de infertilidade e de idade avançada, de acordo com o parecer médico. Confira na tabela
      abaixo, a porcentagem de nascidos vivos, que a La Vitta, comparado com os EUA, conseguiu concretizar:
    </p>
    <p class="text-center">
      <img src="./assets/imgs/tratamentos/004.jpg" class='img-fluid' alt="">
    </p>
  </div>
  <div class="container">
    <div class="row pt-5 ustify-content-center">
      <div class="col">
        <h5 class="font-weight-bold my-3">
          <span class="title">ESTIMULAÇÃO OVARIANA</span>
        </h5>
        <p>
          Da mesma forma que na inseminação intra-uterina é administrado o hormônio FSH para crescimento dos folículos do ovário, na
          fertilização in vitro, as doses de hormônios são maiores visando o recrutamento de um número maior de óvulos. Durante
          a estimulação controlada dos ovários é realizado acompanhamento quase diariamente do crescimento foliculares. Quando
          o folículo atinge tamanho adequado, administra-se o hCG para amadurecer os óvulos e induzir a ovulação. O processo
          de estímulo ovariano dura de 9 a 12 dias, em média.
        </p>
      </div>
      <div class="col">
        <h5 class="font-weight-bold my-3">
          <span class="title">CAPTAÇÃO DOS ÓVULOS</span>
        </h5>
        <p>
          Procedimento realizado para obtenção dos óvulos existentes dentro dos folículos dos ovários. Sempre deve ser agendado entre
          34 – 36 horas após a injeção de hCG. Inicialmente realiza-se anestesia geral (sedação) e administra-se remédio para alívio
          da dor. O procedimento ocorre por meio de punção ovariana com agulha guiada por ultrassom transvaginal. Conectado a um sistema
          de sucção, o líquido proveniente dos folículos é coletado em diversos tubos de ensaio (que aguardam em banho-maria) e é entregue
          a equipe de embriologistas para análise.
        </p>
      </div>
      <div class="col">
        <h5 class="font-weight-bold my-3">
          <span class="title">TRANSFERÊNCIA DE EMBRIÕES</span>
        </h5>
        <p>
          A transferência de embriões é feita entre três a cinco dias após a fertilização in vitro. Geralmente o procedimento não necessita
          de anestesia, pois o desconforto causado é semelhante ao causado pela coleta do exame de Papanicolau. Não é necessário fazer
          o procedimento em jejum, mas como ele é guiado por ultrassom, a bexiga deve estar cheia. Após a transferência, aconselhamos
          repouso relativo por 2 dias. Não se deve realizar exercícios físicos, carregar pesos, subir ou descer escadas ou manter relações
          sexuais.
        </p>
      </div>
      <div class="col">
        <h5 class="font-weight-bold my-3">
          <span class="title">CULTURA DE BLASTOCISTOS</span>
        </h5>
        <p>
          Após a fertilização do óvulo pelo espermatozoide o embrião gerado divide-se rapidamente, aumentando seu número de células.
          À medida que o número de células aumenta, ficam menores e o embrião torna-se mais compactado. No quarto dia, o embrião se
          compacta ainda mais e chega a ter 32 células e é chamado de mórula. A partir desse estágio, forma-se uma cavidade contendo
          um líquido e no quinto dia de desenvolvimento, o embrião encontra-se em estágio de blastocisto.Os embriões em estágio de
          blastocisto apresentam maior potencial de implantação no útero e, portanto, maiores taxas de sucesso.
        </p>
      </div>
      <div class="col">
        <h5 class="font-weight-bold my-3">
          <span class="title">COMPLICAÇÕES DA FIV</span>
        </h5>
        <p>
          O uso de medicamentos injetáveis no tratamento de reprodução assistida, como a gonadotrofina coriônica humana (hCG) para
          induzir a ovulação, pode causar a síndrome da hiperestimulação ovariana. Sinais e sintomas podem durar uma semana e incluem:
          Dor abdominal leve; Inchaço; Náuseas; Vômitos; Diarreia. Em casos de gravidez, no entanto, os sintomas podem durar várias
          semanas pois a gestação mantém os níveis de hCG elevados.
        </p>
      </div>
    </div>
  </div>
</section>
<app-parallax></app-parallax>
<app-contato></app-contato>
