<app-nav></app-nav>
<section class="mt-5 pt-5">
  <div class="container mt-5 pt-4 pb-5">
    <h2 class="font-weight-bold text-center my-3">
      <span class="title">A Clinica</span>
    </h2>
    <div class="row pt-4">
      <div class="col-md-6">
        <img src="../../../assets/imgs/clinica.jpg" class='img-fluid' alt="">
      </div>
      <div class="col-md-6">
        <h4 class='f-semibold'>Objetivo.</h4>
        <ul>
          <li>Ser um centro de tratamento da infertilidade capaz de conseguir o máximo 
            sucesso possível, comparado aos grandes centros.</li>
          <li>Empenhar o máximo possível no rigoroso controle da qualidade clínica e 
            laboratorial, atualizando constantemente, a fim de atingir a excelência de 
            resultados.</li>
          <li>Dar aos nossos clientes um atendimento personalizado.</li>
        </ul>
        <h4 class='f-semibold'>Missão.</h4>
        <p>Ajudar nossos clientes a realizar o sonho da maternidade e paternidade.</p>
        <h4 class='f-semibold'>Visão.</h4>
        <p>Ser reconhecido nesta década como o centro de referência em reprodução 
          humana na região Norte, no Brasil e internacionalmente.</p>
      </div>
    </div>
  </div>
</section>
<app-time></app-time>
<app-contato></app-contato>
