<app-nav></app-nav>
<section class="pt-5 mt-5">
  <div class="container pt-4 mt-5 my-5 text-left">
    <h2 class="font-weight-bold text-justify my-5">
      <span class="title">Diagnóstico Genético</span>
    </h2>
    <p>
      <img src="./assets/imgs/tratamentos/002.png" width="60%" class='float-left mr-4'  alt="">
      O diagnóstico genético pré-implatacional permite o estudo genético dos embriões antes da transferência ao útero materno
      e por tanto, antes de acontecer a implantação deste embrião. Faz-se necessário uma biopsia embrionária, a extração de uma
      das células do embrião, na qual realiza-se o estudo genético para as diferentes patologias. Com o resultado de tal estudo,
      seleciona-se os embriões “normais ou sadios” para sua transferência ao útero. Em determinados casos o casal pode ter um risco
      aumentado para a formação de embriões com anomalias no número ou na estrutura dos cromossomos. O PGS para screening de aneuploidias,
      do inglês “preimplantation genetic screening”, permite selecionar os embriões cromossomicamente normais dentre todos os embriões
      de uma paciente, o que aumenta a possibilidade reprodutiva.
    </p>
    <p>
      Este procedimento nos permite analisar todos os 24 cromossomos, a fim de descartar a possibilidade de aneuploidias embrionárias
      antes da implantação. O PGS com arrays de CGH (aCGH) permite o estudo dos 24 cromossomos para descartar aneuploidias embrionárias
      antes de ocorrer a implantação. A tecnologia de aCGH é considerada uma poderosa ferramenta que nos permite detectar aneuploidias
      para todos os cromossomos a partir de uma única célula com eficiência suficiente para a sua aplicação no diagnóstico clínico.
      As aneuploidias são alterações cromossômicas que podem produzir falhas de implantação em ciclos de reprodução assistida,
      abortos espontâneos e cromossomopatias em recém-nascidos.
    </p>
    <p>
      <strong>Mais informações:</strong> Em nossos laboratórios trabalhamos com a plataforma 24sure da BlueGnome baseada em BACs arrays. Trata-se
      de uma plataforma especialmente desenvolvida para o diagnóstico genético pré-implantacional e que previamente foi validada
      em nosso laboratório para otimizar a eficiência de amplificação e garantir confiabilidade dos resultados com uma única célula.
      Esta tecnologia oferece também resultados excelente em biopsias de trofectoderma nos casos assim solicitados. É importante
      mencionar que os aCGH com BACs não permitem detectar alterações, ou seja, não podem detectar um tipo de anomalías que consistem
      na presença de 3 ou mais cópias para o total de cromossomos simultaneamente. O tempo de resposta é de 24 horas após o recebimento
      da amostra.
    </p>
  </div>
</section>
<app-parallax></app-parallax>
<app-contato></app-contato>
