<section>
  <div class="embed-responsive embed-responsive-16by9">
    <video class="embed-responsive-item" 
      src="./assets/imgs/video.mp4" 
      allowfullscreen autoplay controls>
    </video>
  </div>
</section>
