<app-nav></app-nav>
<section class="mt-5 pt-5">
  <div class="container pt-5 mt-4 py-5" *ngFor="let e of feed">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="font-weight-bold text-center my-3">
          <span class="title">{{e.title.rendered}}</span>
        </h1>
        <ul class="list-unstyled list-inline mt-3">
          <li class="list-inline-item pr-2">
            <i class="fa fa-user pr-1"></i>
            {{e?._embedded['author']['0'].name}}
          </li>
          <li class="list-inline-item pr-2">
            <i class="fa fa-clock-o pr-1"></i>
            {{e.date | date:'dd'}}/{{e.date | date:'MM'}}/{{e.date | date:'yyyy'}}
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="card card-cascade wider reverse">
          <div class="view overlay waves-light" mdbWavesEffect>
            <img [src]="e?._embedded['wp:featuredmedia']['0'].source_url" alt="{{e.title.rendered}}" class="img-fluid">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
        </div>
        <div id="cont" class="excerpt mt-5 text-justify" [innerHTML]="e.content.rendered"></div>
      </div>
      <div class="col-md-3">
        <a routerLink="/contatos">
          <img src="./assets/imgs/sideBanner.jpg" class="img-fluid" alt="">
        </a>
      </div>
    </div>
  </div>
</section>
