@import url('https://fonts.googleapis.com/css?family=Norican');

.asinatura {
  font-family: 'Norican', cursive;
  font-size: 1.5rem;
}


.border-right {
    border-right: 1px solid #0e0e0e;
}

.client {
    margin-top: 30px;
    height: 73px;
    position: relative;
    .client-info {
        float: left;
        margin-left: 18px;
        padding-top: 15px;
    }
    .client-image {
        float: right;
        width: 73px;
        height: 73px;
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #f6f6f6;
    }
}