<section class='py-5'>
    <div class="container">
        <h2 class="font-weight-bold text-center my-3">
            <span class="title">Nossa Reputação</span>
        </h2>
        <p class="blue-text text-center mx-auto mb-4 pt-3">
            Confira o que nossos clientes tem a dizer.
        </p>
        <div class="row py-5">
            <div class='col-md-4 border-right' style='height: 300px;'>
                <p class='pt-2'>
                    <i class="fa fa-quote-left fa-3x f-lv-m"></i>
                    Serei eternamente grata a esta magnífica equipe La Vitta, por toda competência, 
                    seriedade e sensibilidade.
                </p>
                <div class="client">
                    <div class="client-info">
                        <a class="asinatura" target="_blank">Keity Tabosa Zaidan</a>
                        <div class="client-company">Cirurgiã-dentista</div>
                    </div>
                    <div class="client-image hidden-xs">
                        <img src="./assets/imgs/sucesso/01.jpg" class='img-fluid' alt="Juliana Rocha">
                    </div>
                </div>
            </div>     
            <div class='col-md-4 border-right' style='height: 300px;'>
                <p class='pt-2'>
                    <i class="fa fa-quote-left fa-3x f-lv-m"></i>
                    Agradeço a Deus e a todos da Clínica La Vitta pela receptividade 
                    em especial ao Dr. Lorivaldo por ser um ótimo profissional que vem 
                    possibilitando a realização dos sonhos de muitas mulheres, 
                    inclusive o meu. Super recomendo a Clínica La Vitta                
                </p>
                <div class="client">
                    <div class="client-info">
                        <a class="asinatura" target="_blank">Juliana Rocha</a>
                        <div class="client-company">Professora</div>
                    </div>
                    <div class="client-image hidden-xs">
                        <img src="./assets/imgs/sucesso/02.jpg" class='img-fluid' alt="Juliana Rocha">
                    </div>
                </div>
            </div>
            <div class='col-md-4' style='height: 300px;'>
                <p class='pt-2'>
                    <i class="fa fa-quote-left fa-3x f-lv-m"></i>
                    Bem estruturada, com boa localização e um atendimento de qualidade. 
                    Obrigada a todos da clínica La Vitta, em especial ao Dr. Lorivaldo, 
                    que contribuíram com meu sonho se tornar realidade.
                </p>
                <div class="client">
                    <div class="client-info">
                        <a class="asinatura" target="_blank">Raimunda Alves</a>
                        <div class="client-company">Professora</div>
                    </div>
                    <div class="client-image hidden-xs">
                        <img src="./assets/imgs/sucesso/03.jpg" class='img-fluid' alt="Juliana Rocha">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
