<app-header></app-header>
<app-tratamentos></app-tratamentos>
<app-block></app-block>
<app-time></app-time>
<app-video></app-video>
<app-news></app-news>
<app-parallax></app-parallax>
<app-testimonial></app-testimonial>
<app-maps></app-maps>
<app-contato></app-contato>
