<section class="grey lighten-3">
  <div class="container pt-5 py-5">
    <h2 class="font-weight-bold text-center my-3">
        <span class="title">Nosso Blog</span>
    </h2>
    <div class="row pt-3">
      <div class="col-md-4" *ngFor="let i of items; let a = index;">
        <div *ngIf="a < 3">
          <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
            <img [src]="i?._embedded['wp:featuredmedia']['0'].source_url" 
            class="img-fluid blogger" alt="i.title.rendered">
          </div>
          <!--Excerpt-->
          <!-- <a href="" class="red-text">
            <h6 class="mb-3 mt-4">
              <i class="fa fa-map "></i>
              <strong> Dicas</strong>
            </h6>
          </a> -->
          <h4 class="mb-3 mt-2 pt-3 font-weight-bold dark-grey-text">
            {{i.title.rendered}}
          </h4>
          <p>
            {{i.date | date:'dd'}}-{{i.date | date:'MM'}}-{{i.date | date:'yyyy'}}
          </p>
          <p class="grey-text text-justify url" [innerHTML]="i.excerpt.rendered | truncate: 150"></p>
          <a routerLink="/blog/{{i.slug}}" class="btn b-lv-m btn-rounded btn-md waves-light" mdbWavesEffect>Leia Mais</a>
        </div>
      </div>
    </div>
  </div>
</section>
