<section class="grey lighten-3 py-5">
  <div class="container">
    <h2 class="font-weight-bold text-center my-3">
      <span class="title">Nosso time</span>
    </h2>
    <p class="blue-text text-center w-responsive mx-auto mb-5">
      Profissionais especializados e preparados para oferecer o 
      melhor tratamento para realização do seu maior sonho.
    </p>
    <div class="row text-center text-md-left">
      <div class="col-lg-6 col-md-12 mb-5">
        <div class="col-md-4 col-lg-6 float-left">
          <div class="avatar mx-auto mb-md-0 mb-4">
            <img src="./assets/imgs/team/dr-lourivaldo-rodrigues.jpg" 
            class="img-fluid rounded z-depth-1" alt="Dr. Lourivaldo Rodrigues">
          </div>
        </div>
        <div class="col-md-8 col-lg-6 float-right">
          <h4 class="font-weight-bold f-lv-m">Dr. Lourivaldo Rodrigues</h4>
          <h6 class="font-weight-bold f-lv-v mb-3">Diretor e Ginecologista</h6>
          <p class="grey-text">
            PhD em Tocoginecologia pela UNICAMP (1990 e (1995). 
            Fellow em Reprodução Humana pelo Instituto Valenciano de Infertilidade (1995).
          </p>
          <a href="#" target="_blank" >
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-5">
        <div class="col-md-4 col-lg-6 float-left">
          <div class="avatar mx-auto mb-md-0 mb-2">
            <img src="./assets/imgs/team/liane-silva-rafael.jpg" 
            class="rounded z-depth-1 img-fluid" alt="Dra. Liane Silva Rafael">
          </div>
        </div>
        <div class="col-md-8 col-lg-6 float-right">
          <h4 class="font-weight-bold f-lv-m">Dra. Liane Silva Rafael</h4>
          <h6 class="font-weight-bold f-lv-v mb-3">Ginecologista e Obstetra</h6>
          <p class="grey-text">
            Especialista em Ginecologia e Obstetrícia pela PUC e Especialista em 
            Reprodução Humana pelo Instituto Sapientiae.
          </p>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-5">
        <div class="col-md-4 col-lg-6 float-left">
          <div class="avatar mx-auto mb-md-0 mb-4">
            <img src="./assets/imgs/team/lia-pontes-morais.jpg" 
              class="img-fluid rounded z-depth-1" alt="Ma. Lia Pontes Morais">
          </div>
        </div>
        <div class="col-md-8 col-lg-6 float-right">
          <h4 class="font-weight-bold f-lv-m">Ma. Lia Pontes Morais</h4>
          <h6 class="font-weight-bold f-lv-v mb-3">Embriologista</h6>
          <p class="grey-text">
            Graduou-se em Ciências Biológicas pela UFAM, e fez Especialização em 
            Endocrinologia da Reprodução e Técnicas de Reprodução Assistida pela 
            Universidade de Valência, Espanha. Também formou-se Mestre em Doenças 
            Tropicais pela UFAM.
          </p>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 mb-5">
        <div class="col-md-4 col-lg-6 float-left">
          <div class="avatar mx-auto mb-md-0 mb-2">
            <img src="./assets/imgs/team/jucinei-nunes-canto.jpg" 
              class="rounded z-depth-1 img-fluid" alt="Jucinei Nunes Canto">
          </div>
        </div>
        <div class="col-md-8 col-lg-6 float-right">
          <h4 class="font-weight-bold f-lv-m">Jucinei Nunes Canto</h4>
          <h6 class="font-weight-bold f-lv-v mb-3">Tec. Enfermagem e Instrumentadora Cirúrgica.</h6>
          <p class="grey-text">
            Formada pela Fundação Esperança Ministério da Saúde. Possui vários cursos 
            na are de instrumentação cirúrgica e já participou de vários congressos no pais. 
          </p>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <a href="#" target="_blank">
            <span class="fa-stack fa-1x">
              <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
              <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        </div>
      </div>
    </div>


















  </div>
</section>
