<ngx-spinner 
  bdColor="rgba(255,255,255,0.8)" 
  size="medium" 
  color="#712851" 
  type="ball-running-dots">
</ngx-spinner>
<main>
<router-outlet></router-outlet>
</main>
<footer class="footer-copyright b-lv-m py-3 text-center text-white">
  © 2018 Copyright:
  <a class="text-white" href="https://mdbootstrap.com/material-design-for-bootstrap/"> 
    Todos os direitos reservados a Lavitta Manaus.
  </a>
</footer>
