<app-nav></app-nav>
<section class="pt-5 mt-5">
  <div class="container pt-4 mt-5 my-5 text-left">
    <h2 class="font-weight-bold text-justify my-5">
      <span class="title">Diagnóstico Genético</span>
    </h2>
    <p>
        <img src="./assets/imgs/tratamentos/003.jpg" width="40%" class='float-left mr-4' 
            alt="">
        O “congelamento” de óvulos consiste em preservar óvulos em nitrogênio líquido, usando uma técnica de esfriamento, podendo
        ficar armazenado por muitos anos. A Técnica mais adequada é conhecido como Vitrificação, pelo fato desta técnica não produzir
        cristais de gelo no momento da solidificação de óvulos no ultra-resfriamento em nitrogênio líquido, promovendo passagem ao
        estado de solidificação chamado de estado vítreo (glass-like).
    </p>
    <h5 class='f-semibold'>Indicada em casos de:</h5>
    <ul class='list-unstyled'>
        <li>
            Evitar congelamento de embriões: Pacientes que tiveram produção de excedente (mais que 3 a 5 óvulos) de óvulos pode “congelá-los”
            para “descongelá-los” futuramente, obtendo novos embriões numa segunda tentativa de engravidar.
        </li>
        <li>
            Pacientes que queiram preservar sua fertilidade, ”congelando” tecido ovariano ou Óvulos por que terá de submeter à Quimioterapia
            ou Radioterapia Pélvica.
        </li>
        <li>
            Pacientes que têm como antecedente Familiar de Menopausa Precoce, e com sinais indicativos de que possa estar o com risco
            familiar presente.
        </li>
        <li>
            Pacientes que não tem perspectiva de ter sua prole após 35 anos de idade. Aconselhamos a gravidez natural antes do 35 anos.
            Porém, caso não haja expectativa de gravidez antes dessa época, pode-se pensar em preservar alguns óvulos (seria uma alternativa
            de exclusão, já que a alternativa natural está descartada). Opondo frontalmente do que se veicula pela mídia de “Fertilidade
            Garantida”.
        </li>
    </ul>
    <h5 class='f-semibold pt-3'>Banco de Óvulos</h5>
    <img src="./assets/imgs/tratamentos/003-a.jpg" width="40%" class='float-right ml-4' alt="">
    <h6>Podem se tornar doadores de óvulos:</h6> 
    <p>
        Pacientes que teve óvulos excedentes durante o tratamento de Fertilização In Vitro e que já engravidaram, e não quer mais
        os óvulos excedentes podem colaborar com outras pacientes que estão com outro tipo de infertilidade conjugal.
    </p>
    <h6>Podem receber a doação de óvulos:</h6>
    <p>
        Pacientes que não ovulam adequadamente ou porque tiveram que extrair os ovários (Exemplo: Câncer de ovário ou endometriose
        severa). Pacientes com menopausa precoce. Pacientes à Quimioterapia ou Radioterapia.
    </p>
    <h5 class='f-semibold pt-3'>Banco de Óvulos</h5>
    <p>
        Congelamento de óvulos existe desde a década de 90, com baixíssima taxa de sucesso de gravidez.
    </p>
    <p>
        Pois era usado a mesma técnica (congelamento lento) que se usa ao embrião, que não era adequada para óvulos. A inovação
        veio com o aparecimento da nova técnica de Vitrificação.
    </p>
    <p>
        O marco inicial desta técnica foi com o aparecimento das Técnicas de Vítrificação chamado CryoTop ou Vitri-Ingá em 2006 com
        altas taxas de sucesso. (Embora outras técnicas de vitrificação tenha aparecido, com taxas inferiores de sucesso).
    </p>
    <p>
        <span class='f-semibold'>Nota Científica: </span>
        <i>A Palavra congelamento está implícito a formação de gelo e na Técnica de Vitrificação não forma cristais de gelo, logo quando
        usamos as palavras “congelar e descongelar” erroneamente escrevemos entre aspas, onde cientificamente certo seria: vitrificação
        e desvitrificação.</i>
    </p>
  </div>
</section>
<app-parallax></app-parallax>
<app-contato></app-contato>
