<ngx-spinner bdColor="rgba(255,255,255,0.8)" size="medium" color="#712851" type="ball-running-dots">
</ngx-spinner>
<app-nav></app-nav>
<section class="py-4 mt-5 pt-5">
    <div class="container pt-4 mt-5">
        <h2 class="font-weight-bold text-center my-3">
            <span class="title">Nosso Blog</span>
        </h2>
        <div class="row pt-5">
            <div class="col-md-9">
                <h4 class='mb-4 f-semibold f-lv-m' *ngIf="countSearch != 0">
                    Encontramos {{countSearch}} lugares em sua pesquisa
                    <a (click)="voltar()" class='float-right rem1'>
                        <i class="fa fa-plus"></i> Voltar
                    </a>
                </h4>
                <h4 class='mb-4 f-semibold f-lv-m' *ngIf="countSearch == 0 && flag == false">
                    Não Encontramos artigos em sua pesquisa
                    <a (click)="voltar()" class='float-right rem1'>
                        <i class="fa fa-plus"></i> Voltar
                    </a>
                </h4>
                <div *ngIf="flag == true">
                    <div class="row" *ngFor="let i of feeds | paginate: { itemsPerPage: 6, currentPage: p }">
                        <div class="col-lg-5 col-xl-4 mb-4">
                            <div class="view overlay rounded z-depth-1-half waves-light" mdbWavesEffect>
                                <img [src]="i?._embedded['wp:featuredmedia']['0'].source_url" class="img-fluid" alt="i.title.rendered">
                                <a>
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
                            <h3 class="mb-3 font-weight-bold dark-grey-text">
                                <strong>{{ i.title.rendered }}</strong>
                            </h3>
                            <p class="grey-text" [innerHTML]="i.excerpt.rendered | truncate: 150"></p>
                            <p>por
                                <a class="font-weight-bold dark-grey-text">
                  {{i?._embedded['author']['0'].name}}
                </a>, {{i.date | date:'dd'}}-{{i.date | date:'MM'}}-{{i.date | date:'yyyy'}}
                            </p>
                            <a mdbBtn size="md" class="text-white b-lv-m waves-light" mdbWavesEffect routerLink='/blog/{{i.slug}}' appScroll>Leia Mais</a>
                        </div>
                    </div>
                    <pagination-controls appScroll class="text-center mt-5" (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Próximo"></pagination-controls>
                </div>
            </div>
            <div class="col-md-3">
                <div class="grey lighten-4 mb-4" style='margin-bottom: 20px;'>
                    <div class="py-3 px-3">
                        <div class="md-form">
                            <i class="fa fa-search prefix"></i>
                            <input type="text" [(ngModel)]='item' id="form2" class="form-control" placeholder="Buscar Artigo">
                        </div>
                        <button mdbBtn type="button" mdbWavesEffect class="waves-light b-lv-v btn-block" [disabled]="!item" (click)='search()'>Buscar</button>
                    </div>
                </div>
                <mdb-carousel [isControls]="false" [animation]="'slide'" class='mt-5'>
                    <!--First slide-->
                    <mdb-carousel-item>
                        <a href="https://materiais.lavittaamazonas.com.br/familia-aumentar-perguntas-inseminacao-artificial" target="_blank">
                            <img src="./assets/imgs/artificial.png" class="img-fluid" alt="">
                        </a>
                    </mdb-carousel-item>
                    <!--/First slide-->
                    <!--First slide-->
                    <mdb-carousel-item>
                        <a href="https://materiais.lavittaamazonas.com.br/pre-agendamento" target="_blank">
                            <img src="./assets/imgs/agendamento.jpg" class="img-fluid" alt="">
                        </a>
                    </mdb-carousel-item>
                    <!--/First slide-->
                </mdb-carousel>
            </div>
        </div>
        <hr class="mb-5">
    </div>
</section>
<app-parallax></app-parallax>
<app-testimonial></app-testimonial>