<section class="py-5" id="mob">
  <div class="container">
    <h2 class="font-weight-bold text-center my-3 wow fadeIn">
      <span class="title">Tratamentos</span>
    </h2>
    <p class="blue-text text-center w-responsive mx-auto mb-5 wow fadeInRight">
      Conheca os mais modernos tratamentos aplicados aos variados tipos de casos. 
    </p>
    <div class="row">
      <div class="col-md-3 tratamento wow zoomInUp" 
        (mouseover)='over1($event)' (mouseout)='up1($event)'>
        <a routerLink="/tratamentos/inseminacao" appScroll>
          <p class='text-center py-3'>
            <img [src]="imgSrc1"> </p>
          <h5 class='f-bolder text-center'>INSEMINAÇÃO
            <br>ARTIFICIAL</h5>
          <hr>
          <p class='text-center'>
            Consiste na injeção de espermatozoides dentro do útero da mulher, no seu período fértil, facilitando assim a união dos gametas
            para a formação do embrião.
          </p>
        </a>
      </div>
      <div class="col-md-3 tratamento wow zoomInUp" data-wow-delay='0.4s' 
        (mouseover)='over2($event)' (mouseout)='up2($event)'>
        <a routerLink="/tratamentos/fertilizacao" appScroll>
          <p class='text-center py-3'>
            <img [src]="imgSrc2"> </p>
          <h5 class='f-bolder text-center'>FIV – FERTILIZAÇÃO
            <br>IN VITRO</h5>
          <hr>
          <p class='text-center'>
            A Fertilização in vitro (FIV) é um processo em que as células ovarianas são fertilizadas pelo espermatozoide fora do corpo,
            in vitro.
          </p>
        </a>
      </div>
      <div class="col-md-3 tratamento wow zoomInUp" data-wow-delay='0.8s'
        (mouseover)='over3($event)' (mouseout)='up3($event)'>
        <a routerLink="/tratamentos/congelamento" appScroll>
          <p class='text-center py-3'>
            <img [src]="imgSrc3"> </p>
          <h5 class='f-bolder text-center'>CONGELAMENTO DE ÓVULOS E EMBRIÕES</h5>
          <hr>
          <p class='text-center'>
            Consiste em preservar óvulos e embriões em nitrogênio líquido, usando uma técnica de esfriamento, podendo ficar armazenado
            por muitos anos.
          </p>
        </a>
      </div>
      <div class="col-md-3 tratamento wow zoomInUp" data-wow-delay='1.2s'
        (mouseover)='over4($event)' (mouseout)='up4($event)'>
        <a routerLink="/tratamentos/genetico" appScroll>
          <p class='text-center py-3'>
            <img [src]="imgSrc4"> </p>
          <h5 class='f-bolder text-center'>DIAGNÓSTICOS
            <br>GENÉTICOS</h5>
          <hr>
          <p class='text-center'>
            Permite o estudo genético dos embriões antes da transferência ao útero materno.
          </p>
        </a>
      </div>
    </div>
  </div>
</section>
