.tratamento{
    background: #fff;
    padding: 15px 10px;
    cursor: pointer;
    .log {
        background-image: url(../../../assets/imgs/tratamentos/inseminacion.png) no-repeat center;
        height: 80px;
    }
}

.tratamento:hover{
    color: white;
    background: #712851;
}

a{
    text-decoration: none;
    color: #212529
}

a:hover{ color: #fff; }

@media only screen and (max-width: 1024px) {
    #mob{
        margin-top: 100px;
    }
}