@import url('https://fonts.googleapis.com/css?family=Norican');

.asinatura {
  font-family: 'Norican',
  cursive;
}

.texto {
  font-size: 25px;
}

.parallax-vanguarda {
  background-image: url('../../../assets/imgs/parallax.png');
  background-attachment: fixed;
  background-size: cover;
  min-height: 650px
}
