<div class="view intro parallax-vanguarda">
  <div class="full-bg-img mask">
    <div class="container text-center">
      <div class="row justify-content-center pt-5">
        <div class="col-10 text-white texto align-self-center pt-5 wow fadeIn">
          <h1 class='pt-5 mt-4 f-bolder rem4 wow fadeInDown'>
            Ser mãe é carregar no corpo
          </h1>
          <h1 class="asinatura rem7">
            o dom da criação!
          </h1>
        </div>
      </div>
    </div>
  </div>
</div>
