/**
 * Cutomização de Cliente
 */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

body {
    font-family: 'Lato', sans-serif;
}

img {
  max-width: 100% !important;
  height: auto;
}

.b-lv-m {
  background: #712851
}
.b-lv-v {
  background: #79B25B
}
.f-lv-m {
  color: #712851
}
.f-lv-v {
  color: #79B25B
}

// End ------------------------------------------ 
/**
 * NavBar
 */

.menu {
  margin-top: 70px
}
.m-center { display: inline; }
@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}


// End --------------------------------------------
/**
 * custom fontes
*/
.f-light { font-weight: 300; }
.f-medium { font-weight: 500; }
.f-semibold { font-weight: 700; }
.f-bolder { font-weight: bolder; }
.rem7 { font-size: 7rem; }
.rem6 { font-size: 6rem; }
.rem5 { font-size: 5rem; }
.rem4 { font-size: 4rem; }
.rem3 { font-size: 3rem; }
.rem2 { font-size: 2rem; }
.rem1 { font-size: 1rem; }

// End ----------------------------------------

.title {
  border-bottom: 2px solid #0d47a1;
  text-transform: uppercase;
}
