<section class="my-5 contact-section">
  <div class="container">
    <h2 class="font-weight-bold text-center my-3">
      <span class="title">Contato</span>
    </h2>
    <p class="blue-text text-center mx-auto mb-4">
      Ficou interessado? Vamos tomar um café
    </p>
    <mdb-card>
      <div class="row">
        <div class="col-lg-8 px-5">
          <mdb-card-body class="form">
            <h3 class="mt-4">
              <i class="fa fa-envelope pr-2"></i>Fale com a gente:
            </h3>
            <form [formGroup]="registerForm" (ngSubmit)="agendar()">
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input mdbInputDirective type="text" formControlName="nome" 
                      id="form1" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.nome.errors }" />
                    <label for="form1">Nome</label>
                    <div *ngIf="submitted && f.nome.errors">
                      <span *ngIf="f.nome.errors.required" class="inputVal text-danger">Obrigatório</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input mdbInputDirective type="email" id='form2' 
                      formControlName="email" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <label for="form2">E-mail</label>
                    <div *ngIf="submitted && f.email.errors">
                      <span *ngIf="f.email.errors.required" class="inputVal text-danger">Obrigatório</span>
                      <span *ngIf="f.email.errors.email" class="inputVal text-danger">E-mail inválido</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input mdbInputDirective type="text" id='form3' formControlName="telefone" 
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefone.errors }" />
                    <label for="form3">Telefone</label>
                    <div *ngIf="submitted && f.telefone.errors">
                      <span *ngIf="f.telefone.errors.required" class="inputVal text-danger">Obrigatório</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="md-form mb-0">
                    <input mdbInputDirective type="text" id='form9' formControlName="empresa" 
                      class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empresa.errors }" />
                    <label for="form9">Empresa</label>
                    <div *ngIf="submitted && f.empresa.errors">
                      <span *ngIf="f.empresa.errors.required" class="inputVal text-danger">Obrigatório</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="md-form mb-0">
                    <textarea type="text" formControlName='mensagem' id="form7" 
                    class="md-textarea md-textarea-auto form-control" 
                    mdbInputDirective [ngClass]="{'is-invalid': submitted && f.mensagem.errors}" ></textarea>
                    <label for="form-contact-message">Mensagem</label>
                    <button mdbBtn floating="true" color="blue" size="lg">
                      <i class="fa fa-send-o"></i>
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </mdb-card-body>
        </div>
        <div class="col-lg-4">
          <div class="card-body contact text-center h-100 white-text primary-color-dark">
            <ul class="text-lg-left list-unstyled ml-4">
              <li>
                <p>
                  <i class="fa fa-map-marker pr-2"></i>
                  R. Monsenhor Coutinho, 656 - Centro, Manaus.
                </p>
              </li>
              <li>
                <p><i class="fa fa-phone pr-2"></i>(92) 3234-8890</p>
              </li>
              <li>
                <p><i class="fa fa-envelope pr-2"></i>recepcao@lavittamanaus.com.br</p>
              </li>
              <li>
                <p>
                  <i class="fa fa-clock-o pr-2"></i>
                  Segunda a Sexta : 08:00 - 12:00 e 13:00 - 16:00. Sábado : 08:00 - 12:00
                </p>
              </li>
            </ul>
            <hr class="hr-light my-4">
            <ul class="list-inline text-center list-unstyled">
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <span class="fa-stack fa-1x">
                    <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <span class="fa-stack fa-1x">
                    <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#" target="_blank">
                  <span class="fa-stack fa-1x">
                    <i class="fa fa-circle f-lv-v fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </mdb-card>
  </div>
</section>
