.view {
  background: url("../../../assets/imgs/view.jpg")no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.view-1 {
    background-size: cover;
    height: 100vh !important;
    background-color: #bcf7f5;
}
.view-2 {
  background-size: cover;
  height: 100vh;
  background-color: #fff;
}
// img {
//     position:absolute;
//     left:0px;
//     top:0px;
//     z-index:-3;
// }
 
.zoid {
    width: 100%;
    height: 100vh;
    left:0px;
    top:0px;
}

.zoid-1 {
  width: 100%;
  height: 100vh;
  left: 0px;
  top:90px;
}


.zoid-2 {
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
}

.front {
    position: absolute;
}
@media(max-width: 1024px) {
    .zoid {
        display: none;
    }
}

    .insemenacao {
        margin-top: 100px;
        width: 100%;
    }

@media only screen and (max-width:1024px){
    .insemenacao{
        margin-top: 360px;
    }
    .mobile{
        display: none;
    }
}
