<header>
    <app-nav></app-nav>
    <!--Carousel Wrapper-->
    <div class="mobile">
        <mdb-carousel [isControls]="true" [animation]="'slide'">
            <!--First slide-->
            <mdb-carousel-item>
                <div class="view wow fadeIn" data-wow-delay='0.6s' style='position: relative;' [ngStyle]="{'margin-top': '.'+A+'px', 'margin-left': '.'+B+'px'}" (mousemove)='test($event)' (mouseup)='testUp($event)'>
                    <!-- <img width="100%" alt="" src="../../../assets/imgs/view.jpg" class="img-fluid" /> -->
                    <img alt="" width='100vh' src="./assets/imgs/zoid_back.png" class='zoid front' [ngStyle]="{'margin-top': ''+X+'px', 'margin-left': ''+Y+'px'}" />
                    <img alt="" width='100vh' src="./assets/imgs/zoid_front.png" class='zoid' [ngStyle]="{'margin-top': ''+Z+'px', 'margin-left': ''+W+'px'}" />
                    <div class="full-bg-img">
                        <div class="flex-top"></div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view-1 wow fadeIn" data-wow-delay='0.6s'>
                    <a href="https://materiais.lavittaamazonas.com.br/fertilizacao-in-vitro" target="_blank">
                        <img alt="" width='80vh' src="./assets/imgs/fertilizacao.jpg" class='zoid-1 front' />
                    </a>
                    <div class="full-bg-img h-100">
                        <div class="flex-top"></div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view-1 wow fadeIn" data-wow-delay='0.6s'>
                    <a href="https://materiais.lavittaamazonas.com.br/familia-aumentar-perguntas-inseminacao-artificial" target="_blank">
                        <img alt="" width='80vh' src="./assets/imgs/inseminacao_artificial.png" class='zoid-1 front' />
                    </a>
                    <div class="full-bg-img h-100">
                        <div class="flex-top"></div>
                    </div>
                </div>
            </mdb-carousel-item>
            <mdb-carousel-item>
                <div class="view-2 wow fadeIn" data-wow-delay='0.6s'>
                    <a class="test" href="https://lavittamanaus.rds.land/os-problemas-de-infertilidade" target="_blank">
                        <img alt="" width='100vh' src="./assets/imgs/banner.jpg" class='zoid-2 front' />
                    </a>
                    <div class="full-bg-img h-100">
                        <div class="flex-top"></div>
                    </div>
                </div>
            </mdb-carousel-item>
        </mdb-carousel>
    </div>
</header>